<nav class="custom-nav">
    <div class="container header-bg">
        <div class="d-flex justify-content-between align-items-center">
            <a class="navbar-brand" href="#">HUNTER'S LEAGUE</a>
            <div class="nav-links-container d-flex align-items-center">
                <a class="nav-link" routerLink="/">HOME</a>
                <a class="nav-link" >SERVICES</a>
                <a class="nav-link">COMPETITIONS</a>
            </div>
        </div>
    </div>
</nav>
<router-outlet/>